
    <div class="block">
        <div class="developers">
            <div class="bar"> @Html.Raw(DevelopersResources.Index.ForDevelopers) </div>
        <h3>
            @Html.Raw(DevelopersResources.Index.TheWindowsAzurePlatform) 
        </h3>
        <p>
            @Html.Raw(DevelopersResources.Index.TheOpenGovernmentDataInitiativeIsBased) 
        </p>
        <h3>
            @Html.Raw(DevelopersResources.Index.QueryingOGDI )
        </h3>
        <p>
            @Html.Raw(DevelopersResources.Index.OGDIExposesDataThrough )
        </p>
        <ul>
            <li>
                @Html.Raw(DevelopersResources.Index.ContainerIsTheNameOfTheContainer )
            </li>
            <li>
                @Html.Raw(DevelopersResources.Index.DatasetIsTheNameOfTheDataSet )
            </li>
            <li>
                @Html.Raw(DevelopersResources.Index.QueryIsYourSetOfQueryParameters )
            </li>
        </ul>
        <p>
            @Html.Raw(DevelopersResources.Index.NoteThatOGDICurrentlyOnlySupportsThe )
        </p>
        <p>
            @Html.Raw(DevelopersResources.Index.AlsoNoteThatIfAPropertyHasANullValue )
        </p>
        <h3>
            @Html.Raw(DevelopersResources.Index.DataFormats)
        </h3>
        <h4>
            @Html.Raw(DevelopersResources.Index.AtomPub )
        </h4>
        <p>
            @Html.Raw(DevelopersResources.Index.ByDefaultOGDIReturnsDataInTheAtomPub )
        </p>
        <h4>
            @Html.Raw(DevelopersResources.Index.JSON )
        </h4>
        <p>
            @Html.Raw(DevelopersResources.Index.OGDICanAlsoReturnDataInTheJSON )
        </p>
        <p style="margin-left: 40px">
            @Html.Raw(string.Format(DevelopersResources.Index.OGDIDemoURLFormat, "json"))
        </p>
        <h4>
            @Html.Raw(DevelopersResources.Index.JSONP )
        </h4>    
        <p>
            @Html.Raw(DevelopersResources.Index.ToMitigateSecurityVulnerabilities )
        </p>
        <p>
            @Html.Raw(DevelopersResources.Index.OGDIDataServicesAlsoProvideDirectSupportForTheJSONP )
        </p>
        <p>
            @Html.Raw(DevelopersResources.Index.ReferToTheJavaScriptSampleOnThe )
        </p>
        <h4>
            @Html.Raw(DevelopersResources.Index.RDF )
        </h4>
        <p>
            @Html.Raw(DevelopersResources.Index.OGDICanAlsoReturnDataInTheRDF )
        </p>
        <p style="margin-left: 40px">
            @Html.Raw(string.Format(DevelopersResources.Index.OGDIDemoURLFormat, "rdf"))
        </p>
        <h4>
            @Html.Raw(DevelopersResources.Index.GeospatialData )
        </h4>
        <p>
            @Html.Raw(DevelopersResources.Index.ManyOfTheDataSetsInOGDI )
        </p>
        <p>
            @Html.Raw(DevelopersResources.Index.ToReturnGeospatialDataInKMLFormat )
        </p>
        <p style="margin-left: 40px">
            @Html.Raw(string.Format(DevelopersResources.Index.OGDIDemoURLFormat, "kml"))
        </p>
        <p>
            @Html.Raw(DevelopersResources.Index.NoteThatIfTheDataSet )
        </p>
        <h4>
            @Html.Raw(DevelopersResources.Index.Paging )
        </h4>
        <p>
            @Html.Raw(DevelopersResources.Index.OGDIAndTheUnderlyingWindowsAzureTableStorageService )
        </p>
        <h3> @Html.Raw(DevelopersResources.Index.ClientLibraries ) </h3>
        <p>
            @Html.Raw(DevelopersResources.Index.DevelopersUsingVisualStudio2010 )
        </p>    
        
        </div>    
    </div>
     @Html.Partial("Bookmark") 
    


