
    <div class="block">
        <div class="developers">
            <h3>
                @Html.Raw(@DevelopersResources.Index.OverView)
            </h3>
            <p>
                @Html.Raw(@DevelopersResources.Index.OverViewText)
            </p>
            <h3>
                @Html.Raw(@DevelopersResources.Index.QueryingOGDI)
            </h3>
            <p>
                @Html.Raw(@DevelopersResources.Index.QueryingOGDIText)
            </p>
            <h3>
                @Html.Raw(@DevelopersResources.Index.DataFormat)
            </h3>
            <p>
                @Html.Raw(@DevelopersResources.Index.DataFormatText)
            </p>
            <h3>
                @Html.Raw(@DevelopersResources.Index.ClientLibraries)
            </h3>
            <p>
                @Html.Raw(@DevelopersResources.Index.ClientLibrariesText)
            </p>
        </div>    
    </div>
