@using DataConfig.Models
@using DataConfig.Resources

@model Data

<div class="row">
    <div class="twelve columns">
        @foreach (string error in Model.Errors)
        {
            <div class="alert-box alert">
                @error
                <a href="" class="close">&times;</a>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <fieldset>
            <legend>@UI.Configuration</legend>

            <div class="row">
                <form action="/Main/Data" method="post">
                    <div class="five columns">
                        <label for="storageName">@UI.StorageName</label>
                        <input type="text" id="storageName" name="ConfigStorageName" value="@Model.ConfigStorageName" />
                    </div>

                    <div class="five columns">
                        <label for="storageKey">@UI.StorageKey</label>
                        <input type="text" id="storageKey" name="ConfigStorageKey" value="@Model.ConfigStorageKey" />
                    </div>

                    <div class="two columns">
                        <input type="submit" id="startButton" class="radius button" value="OK" />
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
</div>

<div class="row" id="startMessage">
    <div class="nine columns" id="startMessageText">
        @Messages.StartMessage
    </div>

    <div class="three columns">
        <img src="@Url.Content("~/Content/Images/Arrow.png")" alt="arrow" />
    </div>
</div>