@using DataConfig.Resources.Views.Home

@section script {
    <script>
        var Global = {
            DeleteCatalog: @Html.Raw(Json.Encode(Index.DeleteCatalog)),
            ConfirmDeleteCatalog: @Html.Raw(Json.Encode(Index.ConfirmDeleteCatalog))
        };
    </script>
}

<div class="row" id="configuration">
    <div class="twelve columns">
        <fieldset>
            <legend>@Index.Configuration</legend>

            <div class="row">
                <div class="nine columns">
                    <div class="row">
                        <div class="six columns">
                            <label for="storageName">@Index.StorageName</label>
                            <input type="text" id="storageName" name="storageName" />
                        </div>

                        <div class="six columns">
                            <label for="storageKey">@Index.StorageKey</label>
                            <input type="text" id="storageKey" name="storageKey" />
                        </div>
                    </div>
                </div>

                <div class="three columns" id="showCatalogs">
                    <button class="radius success button">@Index.ShowCatalogs</button>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<div class="row" id="startMessage">
    <div class="nine columns" id="startMessageText">
        @Index.StartMessage
    </div>

    <div class="three columns">
        <img src="@Url.Content("~/Content/Images/Arrow.png")" alt="arrow" />
    </div>
</div>

<div class="row" id="ajaxLoader">
    <div class="twelve columns centered">
        <img src="@Url.Content("~/Content/Images/AjaxLoader.gif")" alt="ajaxLoader" />
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div id="alertBox">
        </div>
    </div>
</div>

<div id="content">
    <div class="row">
        <div class="eight columns">
            <h1>Liste des catalogues</h1>
        </div>

        <div class="four columns" style="padding-top: 50px;">
            <button class="small button right">Ajouter un catalogue</button>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Alias</td>
                        <td>Description</td>
                        <td>Disclaimer</td>
                        <td>Nom du compte de stockage</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
