@using DataConfig.Resources

@section script {
    <script>
        var Strings = {
            DeleteCatalog: @Html.Raw(Json.Encode(UI.DeleteCatalog)),
            ConfirmDeleteCatalog: @Html.Raw(Json.Encode(Messages.ConfirmDeleteCatalog)),
            ShowDatasets: @Html.Raw(Json.Encode(UI.ShowDatasets)),
            CatalogDeleted: @Html.Raw(Json.Encode(Messages.CatalogDeleted)),
            CatalogAdded: @Html.Raw(Json.Encode(Messages.CatalogAdded))
        };
    </script>
}

<div class="row" id="configuration">
    <div class="twelve columns">
        <fieldset>
            <legend>@UI.Configuration</legend>

            <div class="row">
                <div class="nine columns">
                    <div class="row">
                        <div class="six columns">
                            <label for="configStorageName">@UI.StorageName</label>
                            <input type="text" id="configStorageName" />
                        </div>

                        <div class="six columns">
                            <label for="configStorageKey">@UI.StorageKey</label>
                            <input type="text" id="configStorageKey" />
                        </div>
                    </div>
                </div>

                <div class="three columns" id="showCatalogs">
                    <button class="radius success button">@UI.ShowCatalogs</button>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<div class="row" id="startMessage">
    <div class="nine columns" id="startMessageText">
        @Messages.StartMessage
    </div>

    <div class="three columns">
        <img src="@Url.Content("~/Content/Images/Arrow.png")" alt="arrow" />
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div id="alertBox">
        </div>
    </div>
</div>

<div class="row" id="ajaxLoader">
    <div class="twelve columns centered">
        <img src="@Url.Content("~/Content/Images/AjaxLoader.gif")" alt="ajaxLoader" />
    </div>
</div>

<div id="content">
    <div class="row">
        <div class="eight columns">
            <h1>@UI.CatalogsList</h1>
        </div>

        <div class="four columns" id="addCatalog">
            <button class="small button right">@UI.AddCatalog</button>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td>@UI.TableAlias</td>
                        <td>@UI.TableDescription</td>
                        <td>@UI.TableDisclaimer</td>
                        <td>@UI.TableStorageAccount</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
