@inherits WebViewPage<object>

@section TitleContent {
    <script type="text/javascript" language="javascript" src="@Url.Content("../../Scripts/DataBrowser.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("../../Scripts/ogdi/list.js")"></script>
          
    <script type="text/javascript">
        var fieldNames = ["Name", "Description", "Category", "Status", "Date", "Rating", "Views"];
        setListParameters("/DataCatalog/DataSets", "/DataCatalog/GetListDataJSON", fieldNames);

        $(document).ready(function() {
          $("#SubmitFilter").click(function() {
            filter = submitFilter();
            setPage(1);
            updateListData();
          });
          $("#ClearFilter").click(function() {
            clearFilter();
            filter = submitFilter();
            setPage(1);
            updateListData();
          });
        });

    </script>
}
 
    <div class="top5">
		<table cellpadding="0" cellspacing="0" border="0"><tr>
		<td style="border-width:0px;"> @Html.Partial("TopList", Model, new ViewDataDictionary(ViewData){{"TopOf", Field.Date}}) </td>
		<td> @Html.Partial("TopList", Model, new ViewDataDictionary(ViewData){{"TopOf", Field.Rating}}) </td>
		<td> @Html.Partial("TopList", Model, new ViewDataDictionary(ViewData){{"TopOf", Field.Views}}) </td>
		</tr></table>
    </div>
        
	<div class="block">
		 @Html.Partial("DataSetsFilter", Model) 
    </div>
    @{ var sortImageSrc = @Url.Content("~/Images/t.gif"); }
	<div class="dataset-list block">
		<table cellpadding="0" cellspacing="0" border="0">
		    <thead>
                <tr>
			        <td id="Name" width="37.5%"> @DataCatalogResources.DataSetList.Name <img src="@sortImageSrc" alt=""/></td>
			        <td id="Category" width="12.5%" class="ascna"> @DataCatalogResources.DataSetList.Category <img src="@sortImageSrc" alt=""/></td>
			        <td id="Status" width="12.5%" class="ascna"> @DataCatalogResources.DataSetList.Status <img src="@sortImageSrc" alt=""/></td>
			        <td id="Date" width="12.5%" class="descna"> @DataCatalogResources.DataSetList.Date <img src="@sortImageSrc" alt=""/></td>
			        <td id="Rating" width="12.5%" class="descna"> @DataCatalogResources.DataSetList.Rating <img src="@sortImageSrc" alt=""/></td>
			        <td id="Views" width="12.5%" class="descna"> @DataCatalogResources.DataSetList.Views <img src="@sortImageSrc" alt=""/></td>
		        </tr>
            </thead>
		    <tbody class="rows">
            </tbody>
		    <tfoot>
		        <tr>
			        <td colspan="2" >
			        </td>
			        <td colspan="4">
                        @Html.Partial("PageControl") 
				        <div class="clear"></div>
			        </td>
		        </tr>
		    </tfoot>
		</table>
	</div>
    <div id="BackGroundLoadingIndicator" class="bgLoadingIndicator" style="display: none">
    </div>
    <div id="LoadingIndicatorPanel"  style="display: none; position:  ">
        <img id="imgLoading" class="loader" alt='@UIConstants.GC_LoadingAltText' style="display: none" src='@UIConstants.GC_LoadingImagePath' longdesc='@UIConstants.GC_LoadingLongDesc' />
    </div>

	 @Html.Partial("Bookmark") 


